<section id="my_decks">
    <ol>
        {{#each decks}}
            <li>
                <article class="deck_article">
                    <h2 class="deck_name"><a href="decks/{{this._id}}">{{this.name}}</a></h2>
                    <dl>
                        <dt>Description: </dt>
                        <dd><span class="deck_description">{{this.description}}</span></dd>
                        <dt>Rating: </dt>
                        <dd>{{this.rating}}</dd>
                        <!-- TODO: PUBLISH/UNPUBLISH -->
                    </dl>
                    
                </article>
            </li>
        {{/each}}
    </ol>
    <a href="/decks/create">Create Your Own Deck! :) (SAVE ME)</a>
</section>