html * {
    background-color: rgb(220, 220, 220);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

head {
    background-color: black;
}

#title {
    color:	rgb(128,0,0);
    text-align: center;
    clear: right;
    font-size: 28px;
}

#login_div {
    float: right;
    font-size: 20px;
    padding-right: 30px;
}

#deckTitle dl {
    font-size: 18px;
    padding-left: 10px;
}

#top_decks {
    font-size: 18px;
}

#top_decks a {
    font-size: 24px;
}

div p {
    font-size: 24px;
}

a:visited, a:link{
    color: rgb(1, 67, 223);
    text-decoration: none;
}

#site_links {
    color: rgb(1, 67, 223);
    font-size: 28px;
    font-style: normal;
    text-align: center;
}

#site_links li {
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    width: 180px;
}

li {
    list-style-type: none;
}

#search legend{
    font-size: 30px;
}

input {
    background-color: white;
    font-size: 18px;
}

label {
    font-size: 22px;
    padding-left: 8px;
}

#my_decks {
    font-size: 18px;
    padding-left: 10px;
}

#card_instance {
    padding-left: 20px;
}

#card_instance dl dt {
    font-size: 22px;
}

#card_instance dl dd {
    font-size: 18px;
}

#create_link {
    padding-left: 10px;
}

.card {
    padding-top: 20px;
}