<section id="signupSection">
    {{#if message}}
    <span id="message">{{message}}</span>
    {{/if}}
    {{#if error}}
    <span id="error">{{error}}</span>
    {{/if}}
    <form method="POST">
        <div id="username_block">
            <label for="username">Username: </label>
            <input id="username" name="username" placeholder="Enter a Username" type="text" />
        </div>
        <div id="fullname_block">
            <label for="fullname">Full Name: </label>
            <input id="fullname" name="fullname" placeholder="Enter your full name" type="text" />
        </div>
        <div id="password_block">
            <label for="password">Password: </label>
            <input id="password" name="password" placeholder="Enter a password" type="password" />
        </div>
        <div id="repeatPassword_block">
            <label for="repeatPassword">Repeat Password: </label>
            <input id="repeatPassword" name="repeatPassword" placeholder="Repeat password" type="password" />
        </div>
        <div id="about_block">
            <label for="about">About: </label>
            <input id="about" name="about" placeholder="Describe Yourself" type="text" />
        </div>
        <div id="email_block">
            <label for="email">Email: </label>
            <input id="email" name="email" placeholder="Email" type="email" />
        </div>
        <input id="submit" type="submit" />
    </form>
</section>