<section id="signupSection">
    {{#if message}}
    <span id="error">{{message}}</span>
    {{/if}}
    <form method="POST">
        <label for="username">Username: </label>
        <input id="username" name="username" placeholder="Enter a Username" type="text" />
        <label for="fullname">Full Name: </label>
        <input id="fullname" name="fullname" placeholder="Enter your full name" type="text" />
        <label for="password">Password: </label>
        <input id="password" name="password" placeholder="Enter a password" type="password" />
        <label for="repeatPassword">Repeat Password: </label>
        <input id="repeatPassword" name="repeatPassword" placeholder="Repeat password" type="password" />
        <label for="about">About: </label>
        <input id="about" name="about" placeholder="Describe Yourself" type="textarea" />
        <label for="email">Email: </label>
        <input id="email" name="email" placeholder="Email" type="email" />
        <input id="submit" type="submit" />
    </form>
</section>