<section id="loginSection">
    <article id="loginDiv">
        <h2>Log In</h2>
        <form id="loginForm" method="POST">
            <label for="loginField">Username: </label>
            <input id="loginField" name="username" type="text" placeholder="Username" />
            <label for="passwordField">Password: </label>
            <input id="passwordField" name="password" type="password" placeholder="Password"/>
            <input type="submit" id="login_button"/>
        </form>
        {{#if message}}
        <span id="message">{{message}}</span>
        {{/if}}
        {{#if error}}
        <span id="error">{{error}}</span>
        {{/if}}
    </article>
    <article>
        <h2>Sign Up</h2>
        <form action="/signup/">
            <input type="submit" value="Click Here to Sign Up" id="signup_button"></input>
        </form>
    </article>
</section>