<section id="loginSection">
    <article id="loginDiv">
        <h2>Log In</h2>
        <form id="loginForm" method="POST">
            <label for="loginField">Username: </label>
            <input id="loginField" name="username" type="text" value="Username" />
            <label for="passwordField">Password: </label>
            <input id="passwordField" name="password" type="password" />
            <input type="Submit" />
        </form>
    </article>
    <article>
        <h2>Sign Up</h2>
        <form action="/signup/">
            <input type="submit" value="Click Here to Sign Up"></input>
        </form>
    </article>
</section>